echo -e "

############################################
开发环境自定义设置(direnv) : ${PWD}
"


echo -e "
1) 设置SDK版本:
use asdf
"
use asdf


echo -e "
2) 设置网络代理:
export http_proxy=http://127.0.0.1:1087;
export https_proxy=http://127.0.0.1:1087;
"
export http_proxy=http://127.0.0.1:1087;
export https_proxy=http://127.0.0.1:1087;


echo -e "
############################################
"